
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.main-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}



.user-card img {
  border-radius: 50%;
  margin-bottom: 10px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


button:hover {
  background-color: #455fa0;
}

.pagination {
  display: flex;
  margin-top: 10px;
}

.pagination button {
  background-color: #ddd;
  margin: 0 5px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #bbb;
}


.user-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin: 10px;
  text-align: center;
  background-color: #f9f9f9;
  width: 75%;
}

.user-card img {
  border-radius: 50%;
  margin-bottom: 10px;
  max-width: 100px;
}

.user-card h3 {
  color: #333;
}

.user-card p {
  margin: 5px 0;
  color: #555;
}

.user-card button {
  background-color: #4caf50;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.user-card button:hover {
  background-color: #45a049;
}

.team-detail {
  margin-top: 20px;
  width: 75%;
}

.team-detail h2 {
  color: #333;
}

.team-detail ul {
  list-style: none;
  padding: 0;
}

.team-detail li {
  margin-bottom: 5px;
  color: #555;
}
